<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513703573923-2ijmumrl2ngr2n2gc636cg3r0evn8acd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513703573923-2ijmumrl2ngr2n2gc636cg3r0evn8acd</string>
	<key>API_KEY</key>
	<string>AIzaSyBWoLqEd8rAh1Sdg7cXiDBx30uzV3GlofQ</string>
	<key>GCM_SENDER_ID</key>
	<string>513703573923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arksoft.mathsaide</string>
	<key>PROJECT_ID</key>
	<string>mathsaide-780f5</string>
	<key>STORAGE_BUCKET</key>
	<string>mathsaide-780f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513703573923:ios:4f0904d48ab3439ec78216</string>
</dict>
</plist>